@font-face {
    font-family: 'FrankGoth';
    src: url("../fonts/TT0244M.TTF");
}
@font-face {
    font-family: 'FrankGothHv';
    src: url("../fonts/FRAHV.TTF");
}
@font-face {
    font-family: 'FrankGothCn';
    src: url("../fonts/FRADMCN.TTF");
}
@font-face {
    font-family: 'FrankGothMdCn';
    src: url("../fonts/FRAMDCN.TTF");
}
body {
    font: 100% Helvetica, Arial, Verdana, sans-serif;
    color: #FFF;
    margin: 0;
    padding:0;
    background: #f9d78c url(../img/background.png) no-repeat top center;
}
a {
    text-decoration:none;
    color: #53777A;
}
h1, h2, h3 {
text-shadow: 0 1px 1px black;
    margin:0;
}
h1 {
    font: 5em 'FrankGoth', Helvetica, Arial, sans-serif;

}
h2 {
    font: 4em 'FrankGothMdCn', Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    color: #000;
}
h2 strong{
    font: 100% 'FrankGothCn', Helvetica, Arial, sans-serif;
    line-height:60%;
    display:block;
    color: #F6B202;
    
}
h4 {
    text-transform: uppercase;
}
dl p {
    margin: 0;
    text-transform:uppercase;
}
dl h4 {
    margin: 1em 0 0;
}
table {
    width: 100%;
    vertical-align: middle;
    padding: 1.5em 0;
}

th, td {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    text-shadow: 0 1px 1px #000;
}

dl {
    border: 5px solid #FFF;
    border-width: 5px 0;
    overflow: hidden;    
}

dt {
    background: #FFF;
    color: #939393;
    float: left;
    margin: 0.5em 0;
    width: 50%;
    padding: 2em 1em;
}
dd {
    color: #FFF;
    float: right;
    margin: 0.5em;
    padding: 1em;
    width: 40%;
    text-align:middle
}
td {
    text-align: center;
}

footer, section {
    display:block;
}
nav {
    position: fixed;
    width:100%;
    top:0;
    display:block;
    background: rgba(0,0,0,0.5)
}
nav div {
    display: block;
    float: left;
    left: 50%;
    position: relative;
}
nav ul {
    display: block;
    float: left;
    left: -50%;
    position: relative;
    margin: 0;
    padding:0;
    overflow:hidden;
    list-style:none;
}
nav li {
    float:left;
    margin: 0;
    padding: 0;
}
nav a{
    color: #FFF;
    font-weight: bold;
    display: block;
    padding: 0.5em 2em;
}
nav a:hover {
    background: #53777A;
    color: #FFF;
    text-shadow: 0 1px 3px #000;
}
nav .current a{
    background:#8EA6B0;
}

section {
    margin: 0 auto;
    padding: 3em 2em;
    background: #FFF;
    color: #000;
}
footer {
    margin: 0 auto;
    overflow:hidden;
    background: #635457;
    padding: 1em 0;
}
footer strong {
    float:left;
}
footer a {
    float:right;
    position: relative;
}
footer a:hover {
    color: #FFF;
    text-shadow: 0 0 2px #FF0;
}
footer img {
    position:absolute;
    left: -38px;
    top: -5px;
}
strong {
    color: #F6B202;
}
form {
}
label {
   display: block;
   text-transform:uppercase;
   font-size:80%;
}
input[type='text'], 
textarea {
    width: 400px;
    background: #EEE;
    border: 2px solid #CCC;
    color: black;
    font: 20px Helvetica, Arial, Verdana, sans-serif;
    border-radius: 4px;
    box-shadow: 0 0 3px #000;

}
textarea {
    height: 9em;
}
input[type='text']:hover, 
textarea:hover,
input[type='text']:focus, 
textarea:focus {
    background: #FFF;
    border-color:#CCC;
    outline:0;
}
input[type='submit']{
    outline:0;
    width: 400px;
    background: #333;
    border:1px solid #333;
    border-radius: 3px;
    text-transform: uppercase;
    color: #FFF;
    padding: 0.5em;
    font: 80% Helvetica, Arial, Verdana, sans-serif;
    cursor:pointer;
}
input[type='submit']:hover {
    background:#555;
    border:1px solid #555;
}
.wrapper {
    width: 960px;
    margin: 0 auto;

}
.clear {
    display:block;
    margin:0;
    clear:both;
}
.content h1{
    color: #FFF;
    font-family: 'FrankGothHv', Helvetica, sans-serif;
    font-size:3em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.content h2{
    color: #FFF;
    font-family: 'FrankGothHv', Helvetica, sans-serif;
    font-size:2em;
    text-transform: uppercase;
}
.col {
    float: left;
    width: 45%;
}
.left {
    float: left;
}
.right {
    float:right;
}
#sipalki-mundial {
    float:left;
}
#sipalki-nordeste {
    float:right;
}
#social {
    position: absolute;
    right: 13%;
    margin: 0;
}
#social a {
    padding: 0.5em;
    display:inline; 
    vertical-align:middle;
}
#social img {
    vertical-align: middle;
    margin: 5px;
}
#social a:hover {
    background: transparent;
}
#social a:hover img {
    border-radius: 15px;
    box-shadow: 0 0 6px #FFF;
}
#social-icons {
    text-align:right;
}
#home {
    text-align:center;
    background: rgba(0,0,0,0.5);
    border-bottom: 30px solid #815600;
}
#home a{
    color: #FFF;
    text-transform:uppercase;

}
#home p {
    font: 2em 'FrankGothMdCn', Helvetica, Arial, sans-serif;
    letter-spacing: 4px;
    margin: 0;
    text-shadow: 0 1px 3px black;
    color: white;
    padding: 1em;
}
#home h2 {
    margin: 0;
}
#home h1 {
    margin: 0.5em auto 0
}
#sipalki {
    background: rgba(113,24,33,0.5);
    border-bottom:30px solid #711821;
}
#horarios {
    background: #8EA6B0;
    border-bottom: 30px solid #5F6F75;
}
#contacto {
    background: #939393;
}
#contacto h2 {
    margin-bottom: 0;
    font-family: 'FrankGothCn', sans-serif;
    font-size: 3em;
    line-height: 1em;
}
#contacto h3 {
    text-transform: uppercase;
    font-family: 'FrankGothCn', sans-serif;
    color: #FFF;
    margin-top: 0;
}
#contacto .right {
    width:36%;
}
#email-address {
    text-transform: none;
    font-size:2.5em;
    margin: 0.5em 0 0;
}
#email-address a {
    color: #FFF;
}
#email-address a:hover, #email-address a:hover strong {
    color: #53777A;
} 
#email-address strong {
    font: 1.5em 'FrankGothHv', Helvetica, Arial, sans-serif;
    color:#fff;
    display:block;
    line-height:0.7em;
}

#fotos{
    background: #222;
    border-bottom: 30px solid #000;
}
#fotos p {
    color :#CCC;
}
#pictures {
    margin:0;
    padding:0;
    overflow: hidden;
    list-style:none;
}
#pictures li {
    float: left;
    margin: 1em;
}
#pictures li:first-child {
    margin-left:0;
}
#pictures a {
    padding: 0;
    height: 125px;
    background: #FFF;
    display: block;
    width: 125px;
    overflow: hidden;
    text-align: center;
    border: 5px solid #FFF;
}
#pictures a:hover {
    background: #53777A;
}

#slider {
    display:none;
}
