<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Escuela de Sipalki Córdoba">
    <meta name="author" content="Matías Iturburu <maturburu@gmail.com>; Ana Comes <anacomes@gmail.com>">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <nav>
        <div >
        <ul>
            {% block nav %}
            <li><a href="#">Home</a></li>
            <li><a href="#">Sipalki</a></li>
            <li><a href="#">Escuela</a></li>
            <li><a href="#">Contacto</a></li>            
            {% endblock %}
        </ul>
        </div>
    </nav>
<div id="wrapper">
    <header>
    <h1 id="logo"><a href="/"><img src="/static/img/logo.png" /></a></h1>
    <a href="http://sipalki-mundial.com" id="sipalki-mundial"><img src="/static/img/sipalki-mundial.png" /></a>
    <a href="http://sipalki-nordeste.com" id="sipalki-nordeste"><img src="/static/img/sipalki-nordeste.png" /></a>
    <h2><strong>Sipalki - do</strong>C ó r d o b a</h2>
    <p class="clear">ESCUELA DE SIPALKI-DO CÓRDOBA<br />SABOM RAUL MANFROTTO 4to Dan</p>
    </header>
    <section id="sobre-sipalki" class="content">
    <h1>Sipalki - Do</h1>
    <article class="col left">
        <h2>Orígenes.</h2>
        <p>En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su hacienda. </p>
    </article>
    <article class="col right">
        <h2>Escuela Córdoba.</h2>
        <p>En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su hacienda. </p>
    </article>
    <br class="clear"/>
    </section>

    <section id="contact-form">
    <form action="/contact" method="post">{% csrf_token %}
        {{form.as_p}}
        <p><input type="submit" value="Enviar" /></p>
    </form>
    </section>
    <footer>
        <div id="colophon">Sipalki Córdoba - Córdoba, Argentina</div>
        <div id="credit"><a href="http://potajecreativo.com.ar/" target="blank">potaje creativo</a></div>
    </footer>
</div>    
</body>
</html>
